.app-selector {
  display: grid;
  grid-template-columns: 1fr 2fr;
  transform: translateY(-20%);
  opacity: 0;
  transition: $slow-duration ease-in-out;

  &.interactive-mode {
    transform: translateY(0);
    opacity: 1;
  }
}
