footer {
  padding: 40px 0;
  font-family: $font-sans-serif;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

  .footer__links {
      text-align: right;
  }

  a {
    text-decoration: none;
    color: $green;
    padding-bottom: 2px;
    border-bottom: 2px solid rgba($green, 0.3);

    &:not(:first-child) {
      margin-left: 10px;
    }

    &:hover {
      border-color: rgba($green, 0.8);
    }
  }
}