// Variables
$font-mono: 'IBM Plex Mono', monospace;
$font-sans-serif: 'Karla', 'Helvetica Neue', Helvetica, sans-serif;
$font-bold: 700;
$green: #3cb66f;
$blue: #3498db;
$medium-gray: #555;
$bg-gray: #E9EBF1;
$light-gray: #9f9f9f;
$default-text: #484868;
$royal-blue: #5985F7;
$font-stack: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

@import 'partials/animations';
@import 'partials/reset';
@import 'partials/code';

body {
  background: $bg-gray;
  color: $default-text;
  font-family: $font-stack;
}

.container {
  max-width: 730px;
  margin: 0 auto;
  padding: 0 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-gap: 15px;
  padding: 2rem 1rem;

  .item {
    padding: 1.3rem;
    font-size: 14px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 20px -10px rgba($default-text, 0.7);
    opacity: 0;

    &.no-pad {
      padding: 0;
    }
  }

  .span-row {
    grid-column-start: 1; 
    grid-column-end: -1; 
  }

  .span-2 {
    grid-column: span 2;
  }

}

.wrap {
  transition: margin 0.4s ease;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  & > div {
    width: 100%;
  }

  .hide-interactive {
    display: inherit;
  }

  .show-interactive {
    display: none;
  }

  &.interactive-mode {
    margin-left: 27%;

    .hide-interactive {
      display: none;
    }
  
    .show-interactive {
      display: inherit;
    }
  }

  &.crash {
		overflow:hidden;
		height:100vh;
		animation: zoom-out 4s forwards;
    position: relative;
		z-index: 1000;
	}
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  p {
    color: $light-gray;
  }

  nav {
    a {
      border-radius: 50px;
      padding: 6px 16px;
      font-size: 0.9rem;
      font-weight: 500;
      text-decoration: none;
      color: $light-gray;
      
      &.active {
        background: $royal-blue;
        color: white;
      }
  
      &:not(.active):hover {
        background: $bg-gray;
      }
    }
  }
}

footer {
  font-size: 0.8rem;
  padding: 1rem;
  color: rgba($default-text, 0.4);
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .project__title {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 1rem
  }

  .project__description {
    line-height: 1.3;
    margin-bottom: 10px;
  }

  .project__links {
    display: flex;
    
    a {
      padding: 6px 13px;
      color: $default-text;
      background: $bg-gray;
      border-radius: 50px;
      margin-right: 5px;
      display: block;
      font-size: 0.8rem;
      text-decoration: none;

      &:hover {
        background: $royal-blue;
        color: white;
      }
    }
  }
}

.about {
  line-height: 1.3;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  p:not(:last-child) {
    margin-bottom: 0.8rem;
  }
}

.link {
  color: inherit;
  text-decoration: none;
  color: $royal-blue;

  &:hover {
    text-decoration: underline;
  }
}

#console-selector {
  font-family: $font-mono;
  position: fixed;
  width: 27%;
  max-width: 450px;
  opacity: 0;
  transform: translateX(-200px);
  transition: transform 0.4s ease, opacity 0.4s ease;
  left: 0;

  &.interactive-mode {
    transform: translateX(0);
    opacity: 1;
  }
}

.console {
  border: 15px solid #303E4E;
  background-color: #303E4E;
  padding: 10px;
  height: 100vh;
  overflow-y: scroll;
  color: white;
  font-size: 0.75rem;

  .console__command-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .console__command-list-item {
      padding: inherit;
      margin: 4px 0;
      line-height: 100%;

      &.console__command-list-item--error {
        margin-left: 2ch;
        color: #e74c3c;
      }

      &.console__command-list-item--response {
        color: #8f8f8f;
        margin-left: 2ch;
      }

      &.console__command-list-item--bold {
        color: #6f6f6f;
        margin-left: 2ch;
        font-weight: $font-bold;
      }

      &.console__command-list-item--warning {
        color: #e67e22;
        margin-left: 2ch;
      }
    }
  }

  .console__prompt {
    background-color: transparent;
    font-family: $font-mono;
    outline: none;
    border: none;
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
    color: white;
    width: 90%;
    line-height: 100%;
  }
}

.trash {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: 50vw;
  transform-origin: center;
  visibility: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: auto;
  }

  &.crash {
    animation: trash-can 4s;
    visibility: visible;

    &.trash__front {
      z-index: 9000;
    }
  }
}

@media (max-width: 768px) {
  .mobile-hide {
    display: none;
  }
}