@import 'partials/variables';
@import 'partials/components/app';
@import 'partials/components/console';
@import 'partials/components/resume';
@import 'partials/animations';
@import 'partials/reset';
@import 'partials/code';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/nav';
@import 'partials/content';
@import 'partials/easter-egg';
@import 'partials/base';
@import 'partials/tablet';
