.cli-header {
  border-radius: 10px 10px 0 0;
  background: darken($medium-gray, 10);
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;

  & > .cli-header__title {
    font-family: $font-mono;
    font-size: 0.7rem;
    opacity: 0.6;
  }

  & > .cli-header__buttons {
    display: flex;
    position: absolute;
    left: 10px;

    & > a {
      display: block;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      margin-right: 8px;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }

      &:nth-child(1) {
        background: #fb6158;
      }

      &:nth-child(2) {
        background: #febc34;
      }

      &:nth-child(3) {
        background: #00d756;
      }
    }
  }

}
