@font-face {
	font-family:"Ubuntu Mono";
	src:url("./fonts/UbuntuMono-R.eot?") format("eot"),
		url("./fonts/UbuntuMono-R.woff") format("woff"),
		url("./fonts/UbuntuMono-R.ttf") format("truetype"),
		url("./fonts/UbuntuMono-R.svg#UbuntuMono-Regular") format("svg");
	font-weight:normal;
	font-style:normal;
}

// Variables
$font: 'Ubuntu Mono', monospace;
// $font: 'Karla', monospace;
$green: #27ae60;


@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import 'partials/animations';
@import 'partials/reset';
@import 'partials/structure';



//////////////////////

.trash {
	position: fixed;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width:50vw;
	height: 50vw;
	transform-origin: center;
	img{
		position: absolute;
		top: 0;
		left: 0;
		width:50vw;
		height: auto;
	}
	&.crash {
		animation: trash-can 4s;
		&#trash-front {
			// position: absolute;

			z-index: 9000;

		}
	}
	&#trash-front {

		z-index: -10;

	}
}



header{
	padding: 40px 0;
	font-family: 'Karla';
	color: #555;
	h1{
		font-size: 3rem;
		font-weight: 400;
		letter-spacing: 2px;
		margin-bottom: 10px;
		font-weight: bold;
		padding-right: 0.3em;

	}
	p{
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 5px;
		// opacity: 0;
		// position: relative;
		// left: 0;
		// animation: fade-in 0.5s forwards, slide-left 0.5s;
		// animation-delay: 0.5s;
	}
	#toggle-interactive{
		float: right;
		border-radius: 50%;
		cursor: pointer;
		width: 60px;
		height: 60px;
		opacity: 0.8;
		margin-top: 10px;
		transition: transform 0.5s, background-image 0.5s;
		background-image: url(../img/code.svg);
		&.interactiveMode {
			background-image: url(../img/close.svg);
			transform: rotateZ(360deg);
		}
		&.nonInteractiveMode {
			background-image: url(../img/code.svg);

		}
		&:hover{
			opacity: 0.9;

		}
	}
}

footer{
	padding: 80px 0 40px;
	font-size: 0.825rem;
	color: #555;
	p {
		margin-bottom: 10px;
	}
	a{
		text-decoration:none;
		color:$green;
		font-size:9pt;
		padding-bottom: 2px;
		border-bottom: 2px solid rgba($green, 0.3);
		margin-right: 4px;
		&:hover{
			border-bottom: 2px solid rgba($green, 0.8);

		}
	}
}



.menu-bar{
	background-color: #bdc3c7;
	padding: 5px;
	border-radius: 3px 3px 0 0;
	text-align: center;
	.circle{
		width: 11px;
		height: 11px;
		border-radius: 50%;
		background-color: #95a5a6;
		float: left;
		// margin-right: 5px;
		margin: 3px;
		margin-top: 4px;
	}
	span{
		font-size: 0.8rem;
		color:#5a6a6b;
		margin: -15px 0 0 -25px;
		padding: 0;

	}
}

#landing-wrapper {
	font-family: 'Karla';
	color: #555;
	font-size: 14pt;
	line-height: 140%;
	margin-top: 30px;
	transition: visbility 0s, opacity 0.5s;
	z-index: 1000;
	#projects {
		margin-top: 10px;
		.placeholder{
			width: auto;
			text-align: center;
			background-color: #efefef;
			color: #555;
			margin: 50% 0 0 50%;
			padding: 20px 15px;
			font-size: 12pt;
			border-radius: 2px;
			transform: translate(-50%, -50%);
		}
		.project{
			margin-top: 10px;
			position: static;
			width: 100%;
			border-radius: 3px;
			background-color: #efefef;
			img{
				width: 100%;
				height: auto;
				border-radius: 2px 2px 0 0 ;
			}
			.caption{
				padding: 10px 15px 13px;
				h3{
					font-size: 14pt;
				}
				p{
					font-size: 11pt;
				}
				.links {
					margin-top: 5px;
					a {
						color: #555;
						text-decoration: none;
						background-color: #dedede;
						padding: 4px 10px;
						border-radius: 50px;
						margin-right: 3px;
						&:hover{
							background-color: #3498db;
							color: white;

						}
					}
				}
			}
		}
	}
	h2{
		font-size: 24pt;
		font-weight: bolder;
		margin-bottom: 10px;
	}
	&.interactiveMode {
		// display: none;

		visibility:hidden;
		opacity: 0;
		z-index: 0;
		height: 0;
		overflow: hidden;

	}
	&.nonInteractiveMode {
		visibility:visible;
		opacity: 1;
		z-index: 1000;
		height: auto;
		// display: block;

	}
}
#resume-wrapper{
	font-family: 'Ubuntu Mono', monospace;
	position: absolute;
	border-radius: 4px;
  background-color: #555;
	// background-color: #2C3642;
	// background-color: #263647;
	box-shadow: 0 8px 40px rgba(0,0,0,0.4);
	color:#95a5a6;
	position: relative;
	top: 0;
	opacity: 0;
	z-index: 0;
	line-height:100%;
	transition: visibility 0s, opacity 0.5s;
	height: 0;
	overflow: hidden;

	&.interactiveMode{
		visibility:visible;
		opacity: 1;
		height: auto;
		z-index: 1000;
		// display: block;
	}
	&.nonInteractiveMode{
		opacity: 0;
		visibility:hidden;
		height: 0;
		overflow: hidden;
		z-index: 0;
		// display: none;
	}

	#resume-content{
		padding: 20px;
		#resume-code {
			font-family: 'Ubuntu Mono', monospace;

		}

	}
}

#console-wrapper{
	font-family: 'Ubuntu Mono', monospace;
	position: fixed;
	width: 27%;
	max-width: 450px;
	opacity: 0;
	left: -200px;
	transition: 0.5s;
	&.interactiveMode{
		left: 0px;
		opacity: 1;
	}
	&.nonInteractiveMode{
		left: -200px;
		opacity: 0;
	}
}
#console{

	// border:15px solid #444;
	border:15px solid #e0e0e0;
	// background-color: #34495e;
	// background-color: #444;
	background-color: #e0e0e0;

	padding: 10px;
	// font-size:1.5em;

	height: 100vh;
	overflow-y:scroll;
	color:#555;
	font-size: 11pt;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			// margin-top: 0px;
			padding: inherit;
			line-height:110%;

			&.commandError{
				color: #e74c3c;
				margin-left: 2ch;
			}
			&.commandResponse{
				color: #8f8f8f;
				margin-left: 2ch;
			}
			&.commandResponseBold{
				color: #6f6f6f;
				margin-left: 2ch;
				// font-weight:bold;
			}
			&.commandWarning{
				color: #e67e22;
				margin-left: 2ch;
			}
		}
	}
	form{
		margin: 0;
		padding: 0;
		.command-prompt-container{
			// font-family: $font;
			font-size: 11pt;
		}
		input{
			background-color: transparent;
			font-family: 'Ubuntu Mono', monospace;
			outline: none;
			border:none;
			font-size: 11pt;
			margin: 0;
			padding: 0;
			color:#555;
			width: 90%;
			line-height:110%;
		}
	}
}

//syntax highlighting
pre {
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	line-height:150%;
	font-family: $font;
	font-size: 11pt;
	margin: 0;
	padding: 0;
	color: #a0a0a0;

	.string { color: $green; }
	.number { color: darkorange; }
	.boolean { color: blue; }
	.null { color: magenta; }
	.key { color: #b0b0b0; }
	a{
		color:$green;
		text-decoration: none;
		border-bottom: 2px solid rgba($green, 0.2);

		&:hover{
			border-bottom: 2px solid rgba($green, 0.8);

			// text-decoration:underline;
		}
	}
}



#mobile-message {
	display:none;
	opacity: 0;
	animation: zoom-in 0.5s, fade-in 0.5s forwards;
	p{
		color:white;
		font-weight:300;
		font-smoothing: none;
		margin-bottom: 10px;
		a {
			color: $green;
		}
	}
}
@media (max-width: 768px) {

	#page-wrap{
		padding-left: 0;
	}

	#toggle-interactive{
		display: none;
	}

	[class*='col-'] {
		width: 100%;
		padding-left: 0;
	  padding: 0;
		.grid &:last-of-type {
	    padding-left: 0;
			padding-right: 0;
	  }
	}

	header{
		text-align: center;
		h1 {
			font-size: 2.5rem;
		}
		p{
			font-size: 10pt;
		}
	}

	footer {
		[class*='col-'] {
			margin-top: 25px;
		}
		.align-right {
			text-align: center;
		}
	}

	#placeholder{
		display: none;
	}

	.trash{
		display:none;
	}
}
