// Variables
$font: 'Inconsolata';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
//////////////////////

*{box-sizing: border-box;}

html, body{
  font-family: $font;
  background-color: #ecf0f1;
}
header{
  padding: 40px 0;
  font-family: 'Montserrat';
  color: #8f8f8f;
  text-align: center;
  h1{
    font-size: 2rem;
    font-weight: bold;
  }
  p{
    font-weight: thin;
  }
  span::before{
    content: '';
    background-color: red;
    width: 20px;
    height: 3px;
  }
}

footer{
  text-align: center;
  color:#333;
  padding: 40px;
  font-size: 0.825rem;
}

.container{
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

#page-wrap{
  padding-left: 25%;
}

.menu-bar{
  background-color: #bdc3c7;
  padding: 5px;
  border-radius: 3px 3px 0 0;
  text-align: center;
  .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #95a5a6;
    float: left;
    margin-right: 5px;
  }
  span{
    font-size: 0.7rem;
    color:#5a6a6b;
    margin: 0 0 0 -25px;
    padding: 0;
  }
}
#resume-wrapper{
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 3px 16px rgba(0,0,0,0.1);
  border: 1px solid #bdc3c7;
  color:#95a5a6;

  #resume-content{
    padding: 20px;
    line-height: 160%;
  }
}

#console-wrapper{
  position: fixed;
  // width: 25%;
  // max-width: 150px;
  width: 25%;
  max-width: 300px;
}
#console{
  border:15px solid #34495e;
  background-color: #34495e;
  padding: 10px;
  height: 100vh;
  overflow-y:scroll;
  color:#fff;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10pt;
    li{
      margin-top: 1px;
      padding: inherit;
      &.commandError{
        color: #e74c3c;
        margin-left: 13px;
      }
      &.commandResponse{
        color: #9f9f9f;
        margin-left: 13px;
      }
      &.commandWarning{
        color: #e67e22;
        margin-left: 13px;
      }
    }
  }
  form{
    margin: 0;
    padding: 0;
    .command-prompt-container{
      font-family: $font;
      font-size: 10pt;
    }
    input{
      background-color: transparent;
      outline: none;
      border:none;
      font-family: $font;
      font-size: 10pt;
      margin: 0;
      padding: 0;
      color:#fff;
      width: 90%;
    }
  }
}

//syntax highlighting
pre {
  font-family: $font;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  .string { color: #27ae60; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: magenta; }
  .key { color: #7f8c8d; font-weight: bold }
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */